<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2">
  <test name="test1" >
  <parameter name="browserName" value="chrome"></parameter>
    <classes>
    <class name="testPackage.BaseClass"/>
      <class name="testPackage.LoginTestClass"/>
    </classes>
  </test> <!-- Test -->
 
</suite> <!-- Suite -->
